html {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}   
.bg-light {
    background-color:#141414!important;
}
.logo{
    background-image: url(../asset/Home/LogoPojokKiriAtas.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.warp{
    word-wrap: break-word;
    padding-top: 50%;
}
.warp-clean{
    word-wrap: break-word;
}
.logo-hitam{
    background-image: url(../asset/Home/LogoPojokKiriAtas2.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background-color: #141414;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.header-profile{
    height: 50%;
    background-image: url(../asset/Profile/HeaderAkroma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.color-black{
    color: black;
}
nav{
    font-family: 'ProximaNova';
}
.h100{
    height: 100%;
}
.img-float{
    background-image: url(asset/Home/LogoBesar.png);
}

.gap-contact{
    padding-top: 30rem!important;
}
.mt-6, .my-6 {
    margin-top: 4.rem!important;
}
.mt-9{
    padding-top: 40%;
}
.mt-10{
    padding-top: 100%;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffffff!important;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff!important;
}
.text-home{
    color: #ffffff;
    font-family: 'PlayfairDisplay';
    letter-spacing: 3px;
}
.text-black{
    color: #000000;
}
.text-profile{
    margin-top: 1%;
    color: #000000;
    font-family: 'ProximaNova';
}
.bg-second{
    background-image: url(../asset/Home/FotoKantor.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.text-cont{
    color: #ffffff;
    font-family: 'PlayfairDisplay';
}
.text-white{
    color: white;
}
@media only screen and (max-width: 768px) {
    .top-margin{
        margin-top: 80%;
    }
    h1{
        font-size: 30px;
    }
    .centered{
        text-align: center;
    }
}
@font-face {
    font-family: ProximaNova;
    src: url(font/MarkSimonson-ProximaNovaAltRegular.otf);
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(font/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url(font/MarkSimonson-ProximaNovaAltLight.otf);
}
/* The side navigation menu */
@media (min-width: 1200px){}
.container {
    max-width: 90%;
}
.textleft{
    text-align: left;
}
.textright{
    text-align: right;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:inherit; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}
.ml-6, .ml-6 {
    margin-left: 5rem!important;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 450px){
    .gap-contact{
        padding-top: 0rem!important;
    }

    .text-profile{
        margin-top: 1%;
        color: #000000;
        font-family: 'ProximaNova';
        text-align: left;
        margin-left: 2%;
    }

    .textleft{
        text-align: unset;
    }
    .ml-6, .ml-6 {
        margin-left: 0rem!important;
    }
    
}